.page {
  position: relative;
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #444a5c;
  background-color: #F1F1F3;
  overflow: hidden;
}
