.content {
  min-height: 100vh;
  flex-grow: 1;
  box-sizing: border-box;
  transition: transform .2s linear;
  transform-origin: center right;

  &_disabled {
    position: relative;
    transform: scale(.98) translateX(2%);
    filter: blur(2px);

    &::after {
      content: '';
      position: absolute;
      top: -10%;
      left: -10%;
      z-index: 1;
      width: 110%;
      height: 120%;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}